@font-face{
	font-family: 'Nekst';
	src: url(../font/400.9e71aaf.woff2) format('woff2');
	font-weight: 400;
}
@font-face{
	font-family: 'Nekst';
	src: url(../font/500.58c6c33.woff2) format('woff2');
	font-weight: 500;
}
@font-face{
	font-family: 'Nekst';
	src: url(../font/600.39cfcbd.woff2) format('woff2');
	font-weight: 600;
}
@font-face{
	font-family: 'Nekst';
	src: url(../font/700.725d4dc.woff2) format('woff2');
	font-weight: 700;
}
@font-face{
	font-family: 'Nekst';
	src: url(../font/900.44814bf.woff2) format('woff2');
	font-weight: 900;
}

@font-face{
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Light.subset.woff2) format('woff2');
	font-weight: 300;
}
@font-face{
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Regular.subset.woff2) format('woff2');
	font-weight: 400;
}
@font-face{
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Medium.subset.woff2) format('woff2');
	font-weight: 500;
}
@font-face{
	font-family: 'Pretendard';
	src: url(../font/Pretendard-SemiBold.subset.woff2) format('woff2');
	font-weight: 600;
}
@font-face{
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Bold.subset.woff2) format('woff2');
	font-weight: 700;
}
@font-face{
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Black.subset.woff2) format('woff2');
	font-weight: 900;
}

